/* Blog */
.blog-homepage {
  width: 300vw;
  height: 100vh;
  display: flex;
}
.blog-homeslide {
  width: 100vw;
  height: 100vh;
}
.blog-homeslide.slide1 {
  background: url('../asset/blog-homepage1.jpg');
  background-size: cover;
  background-repeat: repeat;
  padding: var(--padding-desktop);
  gap: 3rem;
  padding-top: 10vh;
  display: flex;
  min-height: 100vh;
}
.blog-homeslide.slide2 {
  background: url('../asset/blog-homepage2.jpg');
  background-size: cover;
  background-repeat: repeat;
  padding: var(--padding-desktop);
  gap: 3rem;
  padding-top: 10vh;
  display: flex;
  min-height: 100vh;
}
.blog-homeslide.slide3 {
  background: url('../asset/blog-homepage3.jpg');
  background-size: cover;
  background-repeat: repeat;
  padding: var(--padding-desktop);
  gap: 3rem;
  padding-top: 10vh;
  display: flex;
  min-height: 100vh;
}
.dark-gradient {
  background: linear-gradient(transparent, black);
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}