/* Blog */
.blog-section {
  padding: var(--desktop);
  gap: 3rem;
  padding-top: 10vh;
  display: flex;
  min-height: 100vh;
}
.blog-container {
  width: 70vw;
}
.blog-container .blog-first-section {
  display: flex;
  gap: 3rem;
  /* width: 70%; */
}
.blog-suggest {
  display: flex;
  flex-direction: column;
}
.blog-suggest .blog-card-list {
  padding: 1rem 0;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.image {
  width: 100px;
}
img {
  width: 100%;
  height: auto;
}