#contact {
    padding: 9%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: var(--white);
  }
  
  .contact-main {
    width: 100%;
    height: var(--midheight);
    background: var(--lightblue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .contact-section h1 {
    font-size: var(--heading);
    font-weight: var(--headerw);
    color: var(--black);
  }
  
  .contact-section .detail-input {
    display: flex;
    gap: 3rem;
    padding-bottom: 3rem;
  }
  
  /* .contact-section .detail-input .field {
    width: 50%;
  } */
  
  .contact-container {
    width: 100%;
    border-radius: var(--mediumradius);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 36px -12px inset, rgba(0, 0, 0, 0.3) 0px 12px 40px -12px inset;
  }
  
  #contact .contact-map,
  #contact .contact-map iframe {
    width: 100%;
  }
  
  /* .contact-main a i{
    color: var(--black);
    font-size: var(--largetext);
    font-weight: var(--textw);
    padding: var(--paddingh);
    border-radius: 50%;
    border: 1rem solid var(--black);
  } */
  .contact-main h1 {
    font-size: var(--largetext);
    font-weight: var(--largew);
    color: var(--black);
  }
  
  #msg {
    height: 220px;
    display: flex;
  }
  
  .contact-section {
    /* display: flex;
    flex-direction: column;
    width: 50%;
    border: var(--borderline) var(--black);
    border-radius: var(--borderradius); */
    padding: 2% 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  .contact-section h1 {
    padding-bottom: 1.2rem;
  }
  
  /* .label-before, */
  .field input:focus+label::before,
  .field input:valid+label::before {
    line-height: 20px;
    font-size: var(--textp);
    top: -10px;
    background: var(--white);
    padding: 0 6px;
    left: 9px;
  }
  
  .sign-in-card .form-contact {
    margin: 30px 10%;
    width: 80%;
  }
  
  .form-contact {
    width: 100%;
  }
  
  /* .form-contact .field {
    position: relative;
    margin-bottom: var(--header);
  }
  
  .field label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
    font-size: var(--textp);
    color: var(--black);
    transition: 300ms all;
  }
  
  .form-contact .field input,
  .form-contact .field button,
  .form-contact .field button,
  .form-contact .field p {
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: var(--textp);
    color: var(--black);
    border: var(--borderline) var(--black);
    border-radius: var(--borderradius);
    transition: var(--transition);
  }
  
  .field input {
    background: var(--white);
  }
  
  .field p {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
  }
  
  .field p i {
    font-size: var(--heading);
    padding-right: var(--button);
  }
  
  .field p:hover {
    background: var(--lightgray);
    cursor: pointer;
  }
  
  .field input:focus {
    outline: 0;
    border: var(--borderline) var(--orange);
  }
  
  .field input:valid+label::before {
    content: attr(data-title);
  }
  
  .field input:focus+label::before {
    color: var(--orange);
  }
  
  .contact-input input{
    width: 100%;
    padding: var(--navbarlist);
    border-radius: var(--borderradius);
    border: var(--borderline) var(--black);
    font-size: var(--textp);
    color: var(--black);
    background: var(--white);
    transition: var(--transition);
    font-weight: var(--textw);
  } */
  
  /* .detail-input .contact-input input:valid,
  .detail-input .contact-input input:focus {
    border: var(--borderline) var(--lightblue);
  } */
.inputBox {
  width: 100%;
  position: relative;
}
.inputBox textarea,
.inputBox input {
  width: 100%;
  padding: var(--button);
  border: var(--borderline) var(--black);
  color: var(--black);
  background: transparent;
  border-radius: var(--borderradius);
  outline: none;
  font-size: var(--textp);
  resize: none;
}
.inputBox textarea {
  min-height: 20rem;
}
.inputBox span {
  position: absolute;
  left: 2rem;
  padding: var(--button);
  pointer-events: none;
  font-size: var(--textp);
  color: var(--black);
  font-weight: var(--headerw);
  transition: var(--transition);
}
.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span  {
  color: var(--orange);
  transform: translateX(-1rem) translateY(-3rem);
  background: var(--white);
}
  /* .contact-textarea {
    width: 100%;
    padding-top: 3rem;
  }
  
  .contact-textarea textarea {
    width: 100%;
    resize: none;
    height: 260px;
    padding: var(--paddingh);
  } */