/* Course */
#course-land {
    min-height: var(--fullheight);
    padding: var(--desktop);
    position: relative;
    display: flex;
  }
  
  #course-land::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1484557052118-f32bd25b45b5?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    filter: blur(6px);
    background-position: center;
    z-index: -99;
  }
  
  .course-land-area {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40%;
    z-index: 10;
    color: white;
  }
  
  
  .course-land-text h1 {
    font-size: var(--heading);
    padding-bottom: 1.2rem;
  
  }
  
  .course-land-text p {
    font-size: 1.7rem;
    line-height: 1.5;
  }
  
  #course-section {
    background-color: #003366;
    min-height: 100vh;
  }
  