/* signin login  */
.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
  }
  
  .customrectangle {
    position: absolute;
    bottom: 0;
    z-index: 1;
    border-bottom: 50vh solid var(--darkblue);
    border-left: 100vw solid transparent;
    border-right: 0 solid transparent;
    height: 10rem;
    width: 100vw;
    /* width: 100vw;
    height: 30vh;
    border-bottom: 30vh solid red;
    border-left: 100vw solid transparent; */
    /* width: 100vw;
    height: 30vh;
    transform: skew(20deg);
    transform: skewY(-15deg);
    background: var(--darkblue); */
  }
  
  .customrectanglecorner {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100vw;
    height: 30vh;
    border-bottom: 30vh solid var(--lightblue);
    border-left: 100vw solid transparent;
  }
  
  .sign-in-card {
    width: 380px;
    background: var(--white);
    padding: var(--padding-navbarlist);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: var(--radius-16);
    position: relative;
    z-index: 10;
    /* border: var(--borderline) var(--black); */
  }
  
  /* .sign-in-card h1 {
    font-size: var(--fontsize);
    font-weight: var(--weight-medium);
  } */
  
  .sign-in-card h1 {
    font-size: var(--fontsize);
    padding-bottom: var(--fontsize2);
    color: var(--black);
  }
  
  /* .sign-in-card .entryarea .labelline {
    font-size: var(--fontsize9);
    font-weight: var(--weight-normal);
    line-height: var(--fontsize);
    padding: var(--padding-navbarlist);
    text-align: left;
    background: var(--white);
    margin: var(--tablet);
    color: var(--black);
    transition: var(--transition);
    width: 450px;
    overflow: hidden;
  } */
  
  /* .sign-in-card button {
    font-size: var(--fontsize9);
    letter-spacing: .1em;
    font-weight: var(--weight-normal);
    line-height: var(--fontsize);
    padding: var(--padding-navbarlist);
    border-radius: var(--radius-16);
    border: var(--borderline) var(--black);
    background: var(--lightblue);
    color: var(--white);
    width: 100%;
    transition: var(--transition);
    cursor: pointer;
  }
  
  .sign-in-card button:hover {
    background: var(--darkblue);
  }
.field input,
.field button,
.field p {
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: var(--fontsize9);
    color: var(--black);
    border: var(--borderline) var(--black);
    border-radius: var(--radius-16);
    transition: var(--transition);
  } */
  
  /* .suggest-login .entryarea {
    display: flex;
    align-items: center;
    text-align: center;
    height: 7rem;
    border: var(--borderline) var(--black);
    border-radius: var(--radius-16);
    width: 100%;
  } */
  
  /* .suggest-login p:hover {
    background: var(--lightgray);
  }
  
  .suggest-login  p {
    cursor: pointer;
    transition: var(--transition);
    font-size: var(--fontsize9);
    width: 100%;
    padding: var(--padding-navbarlist);
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border: var(--borderline) var(--black);
    border-radius: var(--radius-16);
  } */
  
  .sign-in-card .login-gap {
    height: 3rem;
    line-height: 20px;
    width: 100%;
    padding: var(--padding-navbarlist);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign-in-card .login-gap p {
    color: var(--black);
    font-size: var(--fontsize9);
  }
  
  .sign-in-card .login-gap p a {
    color: var(--black);
    text-decoration: underline;
  }
  /* .label-line,
  .field input:focus+label::before,
  .field input:valid+label::before {
    line-height: 20px;
    font-size: var(--fontsize9);
    top: -10px;
    background: var(--white);
    padding: 0 .5rem;
    left: 9px;
    display: block; */
    /* width: auto;
  }
  .field input:valid+label::after,
  .field input:focus+label::after {

  }
  
  .sign-in-card .form-contact {
    margin: 30px 10%;
    width: 80%;
  }
  
  .form-contact {
    width: 100%;
  }
  
  .form-contact .field {
    position: relative;
    margin-bottom: var(--fontsize2);
  }
  
  .field label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 1rem;
    line-height: 40px;
    font-size: var(--fontsize9);
    color: var(--black);
    transition: 300ms all;
    transition: var(--transition);
  }
.field input {
    background: var(--white);
  }
  
  .field p {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
  }
  
  .field p i {
    font-size: var(--fontsize);
    padding-right: var(--padding-button);
  }
  
  .field p:hover {
    background: var(--lightgray);
    cursor: pointer;
  }
  
  .field input:focus {
    outline: 0;
    border: var(--borderline) var(--orange);
  }
  
  .field input:valid+label::before {
    content: attr(data-title);
  }
  
  .field input:focus+label::before {
    color: var(--orange);
  } */
  .form__group {
    position: relative;
    padding: var(--padding-navbarlist);
    margin-top: var(--fontsize2);
  }
  
  .form__field {
    width: 100%;
    border: 0;
    border-bottom: var(--borderline) var(--black);
    outline: 0;
    font-size: 1.7rem;
    color: var(--black);
    padding: var(--padding-button);
    background: transparent;
    transition: border-color var(--transition);
  
    &::placeholder {
      color: transparent;
    }
  
    &:placeholder-shown ~ .form__label {
      font-size: var(--fontsize9);
      cursor: text;
      top: 20px;
    }
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: var(--transition);
    font-size: var(--fontsize9);
  }
  .form__field:focus {
    border-bottom: var(--borderline) var(--orange);
    /* font-size: 1.7rem; */
  }
  .form__field:focus ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: var(--transition);
      font-weight: var(--weight-medium);
      color: var(--orange);
    }
    .field {
      padding: var(--padding-navbarlist);
    }
    .field button {
      background: var(--lightblue);
      color: var(--white);
    }
    .field button:hover {
      background: var(--darkblue);
    }
    .field button,
    .field p {
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      display: flex;
      text-align: center;
      width: 100%;
      line-height: 40px;
      /* margin: 1rem 0; */
      /* padding: 0 15px; */
      font-size: var(--fontsize9);
      /* color: var(--black); */
      border: var(--borderline) var(--black);
      border-radius: var(--radius-16);
      transition: var(--transition);
    }
    
    .field p i {
      font-size: var(--fontsize);
      padding-right: var(--padding-button);
    }
    
    .field p:hover {
      background: var(--lightgray);
      cursor: pointer;
    }